---
// Component Imports
import Button from '../components/Button.astro';
import '../styles/global.css';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>Astro + TailwindCSS</title>
	</head>

	<body>
		<header class="grid place-items-center h-screen ">
			<a href="https://www.instagram.com/pioofurniture/" title="Pioo Furniture">
				<img src="/pioo-furniture-logo.jpg" alt="Pioo Furniture" class="w-[200px] mx-auto rounded-full border-2 shadow-lg hover:shadow-sm">
			</a>
			<p class=""><a href="https://www.instagram.com/pioofurniture/">instagram</a> | <a href="mailto:info@pioofurniture.com">email</a></p>
		</header>
		

	
	</body>
</html>
